* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, p {
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: deepskyblue;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body {
    height: 100vh;
    width: 100vw;
    background: url('./images/background-image.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-family: sans-serif;
}

body::after{
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    
}

body #container {
    height: 400px;
    width: 75%;
    max-width: 700px;
    border: solid deepskyblue 2px;
    background-color: rgba(0, 0, 0, 35%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 10px 25px;
    margin-top: 30px;
}

body #container .content{
    /* display: none; */
    width: 100%;
    height: 100%;
    border-top: 2px solid deepskyblue;
    border-bottom: 2px solid deepskyblue;

}

body #container .content .header {
    padding: 5px 0;
    width: 100%;
}

body #container .header h3{
    text-align: center;
    color: white;
    
}

body #container .content .parts-content {
    width: 100%;
    height: 310px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: teal;
}

body #container .content .parts-content select{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
    /* background-color: teal; */
    cursor: pointer;
}

body #container .content .parts-content button {
    width: 130px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 10px;
    background-color: deepskyblue;
}

body #container .computers-content {
    width: 70%;
    border-right: 2px solid deepskyblue;
    border-left: 2px solid deepskyblue;
    display: none;            
}

body #container .computers-content .header-pc-content {
    width: 100%;
    height: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    border-bottom: solid deepskyblue 5px;
}

body #container .computers-content .available-computers{
    width: 100%;
    height: 340px;
    overflow-y: scroll;
}

body #container .computers-content .available-computers .pc-card {
    color: white;
    text-align: center;
    border: 1px solid white;
    height: 120px;
    border-radius: 10px;
    margin-bottom: 5px;
}

body #container .computers-content .available-computers .pc-card h3 {
    color: deepskyblue;
}

body #container .computers-content .available-computers .pc-card .content p {
    color: white;
}

.compatibility{
    color:green;
}

.computador-escolhido {
    position: absolute;
    top: 0;
    border: 1px solid deepskyblue;
    padding: 5px;
    border-radius: 10px;
    text-align: center;

}

.computador-escolhido h3{
    color: deepskyblue;
}


